.navbar {
    background-color: #004d2c;
    border-bottom: 1px solid #004d2c;
    padding: 4px 12px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
}

.tombol {
  background-color: orange;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.navbar {
    background-color: #004d2c;
    border-bottom: 1px solid #004d2c;
    padding: 4px 12px;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
    margin: 0;
  }
  
  /* Logo */
  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 1rem;
  }
  
  /* Menu sebelah kanan */
  .menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: auto; /* Dorong ke kanan */
    margin-right: 20px;
  }

  .menu li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-right: 0;
  }

  .upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
  }
  
  
  .upload-box {
    display: flex;
    align-items: center;
    border: 2px solid #c3c5c4;
    border-radius: 10px;
    padding: 8px 250px;
    padding-left: 10px;
    gap: 12px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #imageinput {
    display: none;
  }

  .upload-label {
    background-color: #004d2c;
    color: white;
    padding: 10px 19px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
  }

  .file {
    font-size: 14px;
    color: #333;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .detect-box button {
    background-color: #004d2c;
    color: white;
    padding: 18px 28px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
  }
  
  .hasil_klasifikasi {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    width: 90%;
    max-width: 1000px;
    background-color: #fff;
}

.rekomendasi_produk,
.rekomendasi_article {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto;
  width: 90%;
  max-width: 1000px;
  background-color: #fff;
}

.rekomendasi {
  border-radius: 10px;
  padding: 20px;
  margin: 40px auto;
  width: 90%;
  max-width: 1000px;
  text-align: left;
}

.rekomendasi_produk h2,
.rekomendasi_article h2 {
  color: #004d2c;
  margin-bottom: 40px;
  margin-top: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.produk-list,
.article-list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
}

.produk-item,
.article-item {
  display: flex;
  flex-direction: column; /* susun vertikal */
  align-items: start;     /* opsional: bisa juga center */
  max-width: 200px;       /* opsional: batas lebar item */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
}

.produk-item img,
.article-item img {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 5px;
  object-fit: cover; /* biar gambar tidak gepeng */
  margin-left: 10px;
  margin-right: 20px;
}

.produk-item a,
.article-item a {
  margin: 20px 0 0 0; /* jarak dari gambar ke teks */
  font-size: 14px;
  text-decoration: none;
  color: #333;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.produk-item p {
  margin-left: 15px;
  font-weight: normal;
  color: #646464;
}

.keterangan2 {
  background-color: #004d2c;
  color: white;
  border-radius: 0; /* tidak perlu rounded di footer penuh */
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  align-items: flex-start;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.keterangan2 h3 {
  font-size: 32px;
  margin: 0;
  color: #f5a300;

}

.h3_p {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Jarak antara h3 dan p */
  padding-left: 0;
  text-align: justify;
  margin-right: 300px;
}

.keterangan2 p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
  color: white;
  text-align: justify;
  padding-right: 200px;
}

.keterangan2 .link {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
}

.keterangan2 .link a {
  color: white;
  text-decoration: none;
}

.keterangan2 .link a:hover {
  text-decoration: underline;
}

.bg, .bg1{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center; 
  display: auto;
}

.bg {
  position: relative;
  height: 400px;
  background-image: url('./foto/2.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* hitam transparan */
  z-index: 0;
}

.hero {
  color: white;
  font-size: 28px;
  font-weight: bold;
  padding: 0 20px;
  z-index: 1;
  position: relative;
}

.bg-store {
  position: relative;
  height: 400px;
  background-image: url('./foto/3.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.bg-About {
  position: relative;
  height: 400px;
  background-image: url('./foto/image.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;
}

.judul-pengatur {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 50px 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.konten-teks {
  flex: 1;
  max-width: 60%;
}

.konten-teks h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
}

.konten-teks p {
  text-align: left;
  margin-right: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #333;
}

.konten-gambar img {
  width: 400px;
  height: 400px;
}

.content-keterangan {
  background-color: #cde1dc; 
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.content-keterangan h2 {
  text-align: center;
  color: #000;
  margin-bottom: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.fitur-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fitur {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 12px;
  max-width: 200px;
  text-align: center; 
}

.gambar {
  background-color: white;
  border-radius: 8px;
  padding: 4px 8px;
  width: 100px;
  height: 100px;
}

.gambar img {
  width: 50px;
  height: 50px;
  margin-top: 25px;
}

.fitur p {
  margin: 0;
  color: #333;
  font-size: 16px;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 0;
  }

  .menu li a {
    padding: 10px 0;
  }

  .upload-box {
    flex-direction: column;
    padding: 8px 20px;
    align-items: flex-start;
  }


  .hasil_klasifikasi,
  .rekomendasi_produk,
  .rekomendasi_article {
    width: 95%;
    padding: 15px;
  }

  .produk-list,
  .article-list {
    flex-direction: column;
    align-items: center;
  }

  .produk-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    justify-items: center;
  }


  .produk-item,
  .article-item {
    max-width: 100%;
    align-items: center;
  }

  .produk-item img,
  .article-item img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .produk-item a,
  .article-item a {
    margin: 10px 0;
    text-align: center;
  }

  .keterangan2 {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .h3_p {
    margin-right: 0;
  }

  .keterangan2 p {
    padding-right: 0;
  }

  .keterangan2 .link {
    margin-top: 20px;
  }

  .judul-pengatur {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .konten-teks {
    max-width: 100%;
  }

  .konten-gambar img {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .fitur-wrapper {
    justify-content: center;
  }
}

.artikel-section {
  border-radius: 16px;
  padding: 24px;
  background-color: white;
}

.artikel-title {
  color: #004d2c; /* Hijau gelap sesuai header */
  font-size: 1.6em;
  font-weight: bold;
}

.artikel-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
}

.artikel-card {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  box-sizing: border-box;
  text-align: left;
}

.artikel-card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 8px;
  background-color: #ddd;
}

.artikel-card p a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
}

.artikel-card p a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .artikel-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.produk-section {
  margin-top: 20px;
}

.produk-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.produk-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
}

.produk-card {
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.produk-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.produk-card a,
.produk-card p {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
}

.produk-card a:hover {
  text-decoration: underline;
}
